@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #5f6FFF;
}

.active hr {
  @apply block;
}

::-webkit-scrollbar{
  @apply hidden
}

@utility grid-cols-auto {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}


















